.cercle{
    border-radius: 50%;
    background-color: aquamarine;

    
}
.inval{
    width: 80%;
}
.nav{
    background-color: red;
}
.header{
    background-color: blue;
}
.container{
    background-color: aqua;
}
.corps{

}
